hr{

    width: 100%;
    height: 70px;
    background: rgb(131, 131, 206);
    
    
    }
.voltar{
    margin-left: 45%;
    margin-top: -05%;
    color: white;


}
.centro{
    text-align: center;
     
     
     }
     
.nome-do-carro{

text-align: center;
    
    
    }
    
    .nome-do-carro{
margin-left: 25%;


    }